{% extends 'profiles/base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container p-5 my-5 border">
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

   <div class="mb-3">
      <label for="{{ form.username.id_for_label }}" class="form-label">{% translate 'Username' %}</label>
      <input name="{{ form.username.name }}" class="form-control" id="{{ form.username.id_for_label }}">
      <div class="text-danger">
        {{ form.username.errors }}
      </div>
    </div>
    <div class="mb-3">
      <label for="{{ form.email.id_for_label }}" class="form-label">{% translate 'E-mail (optional)' %}</label>
      <input name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" autocomplete="email">
      <div class="text-danger">
        {{ form.email.errors }}
      </div>
    </div>
    <div class="mb-3">
      <label for="{{ form.password1.id_for_label }}" class="form-label">{% translate 'Password' %}</label>
      <input type="password" name="{{ form.password1.name }}" class="form-control" id="{{ form.password1.id_for_label }}" autocomplete="new-password">
      <div class="text-danger">
        {{ form.password1.errors }}
      </div>
    </div>
     <div class="mb-3">
      <label for="{{ form.password2.id_for_label }}" class="form-label">{% translate 'Password (again)' %}</label>
      <input type="password" name="{{ form.password2.name }}" class="form-control" id="{{ form.password2.id_for_label }}" autocomplete="new-password">
      <div class="text-danger">
        {{ form.password2.errors }}
      </div>
    </div>


  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
{% endblock %}